[submodule "third-party/garrysmod_common"]
	path = third-party/garrysmod_common
	url = https://github.com/danielga/garrysmod_common.git
	branch = x86-64-support-sourcesdk
[submodule "third-party/discord-rpc"]
	path = third-party/discord-rpc
	url = https://github.com/discord/discord-rpc.git
[submodule "cmake/cpp/discord-rpc"]
	path = cmake/cpp/discord-rpc
	url = https://github.com/discord/discord-rpc.git
[submodule "cmake/cpp/gmod-module-base"]
	path = cmake/cpp/gmod-module-base
	url = https://github.com/Facepunch/gmod-module-base.git
	branch = development
[submodule "cmake/cpp/discord-rpc-buttons"]
	path = cmake/cpp/discord-rpc-buttons
	url = https://github.com/ariloc/discord-rpc-buttons
